body{
    margin: 0;
    font-size: 16px;
    color: white;
  }

div{
    position: relative;
    box-sizing: border-box;
    padding: 20px;
  }

  .container{
    position: absolute;
    height:100%;
    padding:0;
  }

  .container>div{
    float: left;
    height: 100vh;

  }

  .map-div{
    width: 75%;
    background-image: url('/assets/site/mapblue.jpg');
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover; 
  }

  .search-div{
    width: 25%;
    background: #24272C;
  }

  h1 {
    text-align: center;
}


  .search-bar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  #search-text {
    border-radius: 3px;
  }

  .character-item {
    position:relative;
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: inline-block;
    width: 8vw;
    text-align: center;
    vertical-align: top;
  }